# Backend
backend/venv/
**/__pycache__/
*.pyc

# Google Service Account Credentials (SENSITIVE)
backend/credentials.json

# IDEs and OS
.DS_Store
.vscode/
.idea/

# Environment variables
*.env
*.env.*
!.env.example
!backend/.env.example
